:root {
    background-color: rgb(27, 27, 27);
    color: azure;
}

.container-fluid {
    /* padding: 10%; */
    padding: 5% 15%;
    color: azure;
    background-color: rgb(27, 27, 27);
}

.navbar {
    position: sticky;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;    
}

.navbar-nav li a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.card {
    position: static;
    padding: 1%;
}

.card .btn {
    width: fit-content;
    margin: 1%;
}

.form-control {
    margin: 1%;
}

.form-control-2 {
    width: fit-content;
    margin: 1%;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: rgba(33,37,41,1);
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
    color: #fff;
}
